h1 {
    color: blue;
}
p {
    /* J'en profite pour
    ajouter un commentaire
    sur plusieurs lignes */
    color: blue;
}
.ma-classe {
    color: #663399;
}

#logo {
    /* Indiquez les propriétés CSS ici */
}
.ma-classe {
    font-size: 3px;
    color: #663399;
}

.grand-texte {
    font-size: 30px;
}